In [40]:
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
    return fact

In [58]:
def strong_num(num):
    e=str(num)
    result = 0
    for ele in  range(0, len(e)):
        result += factorial(int(e[ele]))
    if result == num:
        return True
    else:
        return False

In [59]:
strong_num(145)

True

In [56]:
d = {key:value for key,value in zip(["k1", "k2", "k3", "k4", "k5"],[1, 2, 3, 4, 5])}

In [57]:
d

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5}

feb 20

In [9]:
class Student:
    def __init__(self, m1, m2):
        self.m1 = m1
        self.m2 = m2
        
    def calc_avg(self):
        return (self.m1+self.m2)/2
        
    def __del__(self):
        print("Object is deleted")
        
s1 = Student(10, 20)
s2 = Student(20, 60)
s1.calc_avg()

Object is deleted

15.0

In [10]:
s2.calc_avg()

40.0

In [11]:
del s1

Object is deleted

In [12]:
s1

NameError: name 's1' is not defined

In [13]:
class Vehicle():
    def __init__(self):
        print("Base Class")

In [14]:
class Car(Vehicle):
    def __init__(self):
        print("Car")

In [15]:
class Bike(Vehicle):
    def __init__(self):
        print("Bike")

In [16]:
c = Car()

Car

In [17]:
b= Bike()

Bike

In [18]:
class A:
    c = 0
    
    def __init__(self):
        A.c += 1
        
    @classmethod
    def counting(cls):
        return cls.c
    
a=A()  
b=A()  
b=A()  
A.c
A.counting()

3

In [19]:
a.counting()

3

In [22]:
class C_exception():
    def ex(self):
        try:
            val = int(input("Enter a number"))
        except:
            print("Invalid Input")

In [23]:
a = C_exception()
a.ex()

Enter a number fgh

Invalid Input

In [20]:
val = int(input("Enter a number"))

Enter a number rty

ValueError: invalid literal for int() with base 10: 'rty'